<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>Label</key>
	<string>com.agentproject.tbill.maturity</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/josephmorris/MaxPain_Project/scripts/cron/run_cron.sh</string>
		<string>agent_tbill_maturity</string>
		<string>/Users/josephmorris/Agent_Project/logs/scrapers/tbill_maturity.log</string>
		<string>cd /Users/josephmorris/Agent_Project &amp;&amp; /opt/homebrew/bin/python3.11 TBills/maturity_processor.py</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/josephmorris/Agent_Project/logs/scrapers/tbill_maturity.log</string>
	<key>StandardOutPath</key>
	<string>/Users/josephmorris/Agent_Project/logs/scrapers/tbill_maturity.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/josephmorris/Agent_Project</string>
</dict>
</plist>
